In [98]:
import requests
from bs4 import BeautifulSoup

In [99]:
r=requests.get('http://www.cricbuzz.com/live-cricket-scorecard/18877/eng-vs-ind-1st-t20i-india-tour-of-england-2018')

In [100]:
c=r.content

In [101]:
soup=BeautifulSoup(c,'html.parser')

In [102]:
table=[]
for m in soup.find_all('div',{'class':'cb-col cb-col-100 cb-ltst-wgt-hdr'}):
    team=''
    for j in m.find_all('div',{'class':'cb-col cb-col-100 cb-scrd-hdr-rw'}):
        try:
            k=j.find('span').text
            n=k.split(' ')
            team=n[0]
        except:
            pass
    for i in m.find_all('div',{'class':'cb-col cb-col-100 cb-scrd-itms'}):
        d={}
        for j in i.find_all('div',{'class':'cb-col cb-col-27 '}):
            d['Players']=j.text.strip()
        for j in i.find_all('div',{'class':'cb-col cb-col-8 text-right text-bold'}):
            d['Runs']=j.text
        count=0
        for j in i.find_all('div',{'class':'cb-col cb-col-8 text-right'}):
            if count==1:
                d['Fours']=j.text
            elif count==2:
                d['Sixes']=j.text
            elif count==3:
                d['Strike Rate']=j.text
            count+=1
        for j in i.find_all('div',{'cb-col-73 cb-col'}):
            temp=j.text
            li=temp.split(',')
            for k in li:
                e={}
                e['Players']=k.strip()
                e['Runs']=0
                e['Fours']=0
                e['Sixes']=0
                e['Strike Rate']=0.0
                e['Team']=team
                table.append(e)
        if d=={}:
            pass
        else:
            d['Team']=team
            table.append(d)

In [103]:
table1=[]
team=[]
count1=1
for m in soup.find_all('div',{'class':'cb-col cb-col-100 cb-ltst-wgt-hdr'}):
    for j in m.find_all('div',{'class':'cb-col cb-col-100 cb-scrd-hdr-rw'}):
        try:
            k=j.find('span').text
            n=k.split(' ')
            if n[0] not in team:
                team.append(n[0])
        except:
            pass
    for i in m.find_all('div',{'class':'cb-col cb-col-100 cb-scrd-itms '}):
        d={}
        for j in i.find_all('div',{'class':'cb-col cb-col-40'}):
            d['Players']=j.text.strip()
        for j in i.find_all('div',{'class':'cb-col cb-col-8 text-right text-bold'}):
            d['Wickets']=j.text
        count=0
        for j in i.find_all('div',{'class':'cb-col cb-col-8 text-right'}):
            if count==0:
                balls=j.text.split('.')
                try:
                    d['Balls']=int(balls[0])*6+int(balls[1])
                except:
                    d['Balls']=int(balls[0])*6
            elif count==1:
                d['Maidens']=j.text
            count+=1
        count=0
        for j in i.find_all('div',{'class':'cb-col cb-col-10 text-right'}):
            if count==0:
                d['Runs']=j.text
            elif count==1:
                d['Economy']=j.text
            count+=1
       
        if d=={}:
            pass
        else:
            table1.append(d)
    count1+=1

In [104]:
table

[{'Fours': '5',
  'Players': 'Jason Roy',
  'Runs': '30',
  'Sixes': '0',
  'Strike Rate': ' 150.00 ',
  'Team': 'England'},
 {'Fours': '8',
  'Players': 'Jos Buttler (wk)',
  'Runs': '69',
  'Sixes': '2',
  'Strike Rate': ' 150.00 ',
  'Team': 'England'},
 {'Fours': '0',
  'Players': 'Alex Hales',
  'Runs': '8',
  'Sixes': '0',
  'Strike Rate': ' 44.44 ',
  'Team': 'England'},
 {'Fours': '0',
  'Players': 'Eoin Morgan (c)',
  'Runs': '7',
  'Sixes': '0',
  'Strike Rate': ' 116.67 ',
  'Team': 'England'},
 {'Fours': '0',
  'Players': 'Jonny Bairstow',
  'Runs': '0',
  'Sixes': '0',
  'Strike Rate': ' 0.00 ',
  'Team': 'England'},
 {'Fours': '0',
  'Players': 'Joe Root',
  'Runs': '0',
  'Sixes': '0',
  'Strike Rate': ' 0.00 ',
  'Team': 'England'},
 {'Fours': '1',
  'Players': 'Moeen Ali',
  'Runs': '6',
  'Sixes': '0',
  'Strike Rate': ' 75.00 ',
  'Team': 'England'},
 {'Fours': '2',
  'Players': 'David Willey',
  'Runs': '29',
  'Sixes': '2',
  'Strike Rate': ' 193.33 ',
  'Team': 'England'},
 {'Fours': '0',
  'Players': 'Chris Jordan',
  'Runs': '0',
  'Sixes': '0',
  'Strike Rate': ' 0.00 ',
  'Team': 'England'},
 {'Fours': '0',
  'Players': 'Liam Plunkett',
  'Runs': '3',
  'Sixes': '0',
  'Strike Rate': ' 75.00 ',
  'Team': 'England'},
 {'Fours': 0,
  'Players': 'Adil Rashid',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'England'},
 {'Fours': '1',
  'Players': 'Shikhar Dhawan',
  'Runs': '4',
  'Sixes': '0',
  'Strike Rate': ' 100.00 ',
  'Team': 'India'},
 {'Fours': '3',
  'Players': 'Rohit Sharma',
  'Runs': '32',
  'Sixes': '1',
  'Strike Rate': ' 106.67 ',
  'Team': 'India'},
 {'Fours': '10',
  'Players': 'Lokesh Rahul',
  'Runs': '101',
  'Sixes': '5',
  'Strike Rate': ' 187.04 ',
  'Team': 'India'},
 {'Fours': '0',
  'Players': 'Virat Kohli (c)',
  'Runs': '20',
  'Sixes': '1',
  'Strike Rate': ' 90.91 ',
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'Suresh Raina',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'MS Dhoni',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'Hardik Pandya',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'Bhuvneshwar Kumar',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'Kuldeep Yadav',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'Umesh Yadav',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'},
 {'Fours': 0,
  'Players': 'Yuzvendra Chahal',
  'Runs': 0,
  'Sixes': 0,
  'Strike Rate': 0.0,
  'Team': 'India'}]

In [105]:
for i in table:
    for j in table1:
        if i['Players']==j['Players']:
            print(i['Players'])
            i['Wickets']=j['Wickets']
            i['Runs Given']=j['Runs']
            i['Economy']=j['Economy']
            i['Maidens']=j['Maidens']
            i['Balls']=j['Balls']

Moeen Ali
David Willey
Chris Jordan
Liam Plunkett
Adil Rashid
Hardik Pandya
Bhuvneshwar Kumar
Kuldeep Yadav
Umesh Yadav
Yuzvendra Chahal

In [110]:
for i in table:
    pl=i['Players']
    ds=pl.split()
    catches=0
    st=0
    for j in soup.find_all('div',{'class':'cb-col cb-col-33'}):
        for k in j.find_all('span'):
            rn=0
            l=j.text
            n=l.split()
            if n[0]=='c' and n[1] in ds:
                    catches+=1
                    i['Catches']=catches
            if n[0]=='c' and n[1]=='&':
                if n[-1] in ds:
                    catches=catches+1
                    i['Catches']=catches
            if n[0]=='st'and n[1] in ds:
                st=st+1
                i['Stumping']=st
            if n[0]=='run':
                txt=n[2][1:-1]
                l=[]
                try:
                    l=txt.split('/')
                except:
                    l.append(txt)
                print(l[0])
                if l[0] in ds:
                    print(i['Players'])
                    rn+=1
                    i['runout']=rn
                    rn=0
                else:
                    pass
            else:
                i['runout']=0

In [111]:
import pandas
df=pandas.DataFrame(table)

In [112]:
df1=pandas.DataFrame(table1)

In [113]:
df

,Balls,Catches,Economy,Fours,Maidens,Players,Runs,Runs Given,Sixes,Strike Rate,Stumping,Team,Wickets,runout
0,NaN,NaN,NaN,5,NaN,Jason Roy,30,NaN,0,150.00,NaN,England,NaN,0
1,NaN,NaN,NaN,8,NaN,Jos Buttler (wk),69,NaN,2,150.00,NaN,England,NaN,0
2,NaN,NaN,NaN,0,NaN,Alex Hales,8,NaN,0,44.44,NaN,England,NaN,0
3,NaN,1.0,NaN,0,NaN,Eoin Morgan (c),7,NaN,0,116.67,NaN,England,NaN,0
4,NaN,NaN,NaN,0,NaN,Jonny Bairstow,0,NaN,0,0.00,NaN,England,NaN,0
5,NaN,NaN,NaN,0,NaN,Joe Root,0,NaN,0,0.00,NaN,England,NaN,0
6,14.0,NaN,15.86,1,0,Moeen Ali,6,37,0,75.00,NaN,England,0,0
7,24.0,NaN,7.50,2,0,David Willey,29,30,2,193.33,NaN,England,1,0
8,24.0,NaN,6.75,0,0,Chris Jordan,0,27,0,0.00,NaN,England,0,0
9,24.0,NaN,10.50,0,0,Liam Plunkett,3,42,0,75.00,NaN,England,0,0
10,24.0,NaN,6.25,0,0,Adil Rashid,0,25,0,0,NaN,England,1,0
11,NaN,NaN,NaN,1,NaN,Shikhar Dhawan,4,NaN,0,100.00,NaN,India,NaN,0
12,NaN,NaN,NaN,3,NaN,Rohit Sharma,32,NaN,1,106.67,NaN,India,NaN,0
13,NaN,NaN,NaN,10,NaN,Lokesh Rahul,101,NaN,5,187.04,NaN,India,NaN,0
14,NaN,2.0,NaN,0,NaN,Virat Kohli (c),20,NaN,1,90.91,NaN,India,NaN,0
15,NaN,1.0,NaN,0,NaN,Suresh Raina,0,NaN,0,0,NaN,India,NaN,0
16,NaN,NaN,NaN,0,NaN,MS Dhoni,0,NaN,0,0,2.0,India,NaN,0
17,24.0,NaN,8.25,0,0,Hardik Pandya,0,33,0,0,NaN,India,1,0
18,24.0,NaN,11.25,0,0,Bhuvneshwar Kumar,0,45,0,0,NaN,India,0,0
19,24.0,NaN,6.00,0,0,Kuldeep Yadav,0,24,0,0,NaN,India,5,0
20,24.0,1.0,5.25,0,0,Umesh Yadav,0,21,0,0,NaN,India,2,0
21,24.0,NaN,8.50,0,0,Yuzvendra Chahal,0,34,0,0,NaN,India,0,0

In [114]:
df.fillna(0)

,Balls,Catches,Economy,Fours,Maidens,Players,Runs,Runs Given,Sixes,Strike Rate,Stumping,Team,Wickets,runout
0,0.0,0.0,0,5,0,Jason Roy,30,0,0,150.00,0.0,England,0,0
1,0.0,0.0,0,8,0,Jos Buttler (wk),69,0,2,150.00,0.0,England,0,0
2,0.0,0.0,0,0,0,Alex Hales,8,0,0,44.44,0.0,England,0,0
3,0.0,1.0,0,0,0,Eoin Morgan (c),7,0,0,116.67,0.0,England,0,0
4,0.0,0.0,0,0,0,Jonny Bairstow,0,0,0,0.00,0.0,England,0,0
5,0.0,0.0,0,0,0,Joe Root,0,0,0,0.00,0.0,England,0,0
6,14.0,0.0,15.86,1,0,Moeen Ali,6,37,0,75.00,0.0,England,0,0
7,24.0,0.0,7.50,2,0,David Willey,29,30,2,193.33,0.0,England,1,0
8,24.0,0.0,6.75,0,0,Chris Jordan,0,27,0,0.00,0.0,England,0,0
9,24.0,0.0,10.50,0,0,Liam Plunkett,3,42,0,75.00,0.0,England,0,0
10,24.0,0.0,6.25,0,0,Adil Rashid,0,25,0,0,0.0,England,1,0
11,0.0,0.0,0,1,0,Shikhar Dhawan,4,0,0,100.00,0.0,India,0,0
12,0.0,0.0,0,3,0,Rohit Sharma,32,0,1,106.67,0.0,India,0,0
13,0.0,0.0,0,10,0,Lokesh Rahul,101,0,5,187.04,0.0,India,0,0
14,0.0,2.0,0,0,0,Virat Kohli (c),20,0,1,90.91,0.0,India,0,0
15,0.0,1.0,0,0,0,Suresh Raina,0,0,0,0,0.0,India,0,0
16,0.0,0.0,0,0,0,MS Dhoni,0,0,0,0,2.0,India,0,0
17,24.0,0.0,8.25,0,0,Hardik Pandya,0,33,0,0,0.0,India,1,0
18,24.0,0.0,11.25,0,0,Bhuvneshwar Kumar,0,45,0,0,0.0,India,0,0
19,24.0,0.0,6.00,0,0,Kuldeep Yadav,0,24,0,0,0.0,India,5,0
20,24.0,1.0,5.25,0,0,Umesh Yadav,0,21,0,0,0.0,India,2,0
21,24.0,0.0,8.50,0,0,Yuzvendra Chahal,0,34,0,0,0.0,India,0,0

In [332]:
df1.to_csv('outputb.csv')

In [115]:
df.fillna(0).to_csv('output1.csv')